:root {
    --main-color: rgb(0, 114, 69);
    --head-text: #3b413a ;
    --lightgeen1-box: #d6e5d8 ;
}

body {
    background: rgb(243, 255, 255);
}


/* Start local */
.m-bot-m-top {
    padding-bottom: 100px;
    padding-top: 100px;
}


h3 {
    color: var(--main-color);
}
h2 {
    color: var(--head-text);
    font-weight: 500;
}
p {
    /* max-width: 400px; */
    line-height: 1.5;
}

.hold-stars {
    width: 130px;
    margin-bottom: 20px ;
}
.hold-stars img{
    width: 100%;
}
/* End local */







/* Start navbar */
.navbar .navbar-nav .nav-link {
    color: #242424;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--main-color);
}

.Book-Table {
    background: var(--main-color);
    padding: 8px 25px;
    border: none;
    outline: none;
    color: white;
    border-radius: 7px;
}
/* End navbar */

/* Start Landing */
.landing {
    min-height: 100vh;
    text-align: center;
}


/* End Landing */


/* Start Our Info  */
.storeInfo .container .Infoitem{
    width: 210px;
    height: 210px;
    background-color: var(--lightgeen1-box);
    border-radius: 15px;
}
.storeInfo .container .Infoitem svg{
    color: var(--main-color);
}
/* End Our Info  */


/* <!-- Start Our Specials --> */

.ourSpecials__item {
    background-color: var(--lightgeen1-box);
    /* width: 50%; */
    padding: 20px;
    border-radius: 15px;
}


.flying-photo {
    /* width: 90%; */
    border-radius: 18px;
    overflow: hidden;
    margin-top: -50% ;
}

.second-container {
    padding-top: 200px;
    max-width: 1000px;
    margin: auto;
}
    /* <!-- End Our Specials --> */


    /* Start Top Dishes */
.dish {
    background-color: var(--lightgeen1-box);
    border-radius: 15px ;
}

.dish .hold-img-dish {
    width: 150px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
    /* End Top Dishes */


.info-dish-for-discount {
    position: relative;
    /* overflow: hidden; */
}
.container-dish-for-discount {
    background: var(--lightgeen1-box);
    border-radius: 15px;
}
.hold-h3 .h3 {
    color: #242424;
}
.imags-discount {
    position: absolute;
    width: 150px;
    right: -15px;
    bottom: -15px;
}

/* .hold-img-dish-for-discount .row div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
/* .hold-img-dish-for-discount  div {
    border-radius: 15px;
    height: 400px;
    overflow: hidden;
} */
/* .hold-img-dish-for-discount .row div span{

    border-radius: 30px;
    overflow: hidden;
} */
